html,body{
	margin: 0;
	padding: 0;
}

h1,h2,p{
	text-align: center;
}
p{
	padding: 0 5px 0 5px;
}
ul{
	padding: 0;
	text-align: center;
}
li{
	list-style: none;
	display:inline-block;
	padding-right:5px;
}
.a{
	border-right: 2px solid grey;
}